<main role="main">
	<div class="top-nav">
	    <ul>
	      <li class="active">1st Round</li>
	      <% if @game.bracket[2] %>
	      		<li class="active">2nd Round</li>
	      <% else %>
		      	<li>2nd Round</li>
	      <% end %>
	      <% if @game.bracket[3] %>
	      		<li class="active">Final Round</li>
	      <% else %>
		      	<li>Final Round</li>
	      <% end %>
	    </ul>
  	</div>
	<div class="bracket">
		<div class="roundone">
			<% @game.bracket[1].each do |p| %>
			<ul>
				<div class="player-box">
					<li>
						<%= image_tag(p[0].profile_image, class: 'profile-pic-1') %><br>
						<%=p[0].name %>
					</li>
					<li class="vs">VS.</li>
					<li>
						<%= image_tag(p[1].profile_image, class: 'profile-pic-2') %><br>
						<%=p[1].name %>
					</li>
				</div>
			</ul>
			<% end %>
		</div>
		<div class="roundtwo">
			<% @game.bracket[1].each do |p| %>
			<ul>
				<div class="player-box">
					<li>
						<%= image_tag(p[0].profile_image, class: 'profile-pic-1') %><br>
						<%=p[0].name %>
					</li>
					<li class="vs">VS.</li>
					<li>
						<%= image_tag(p[1].profile_image, class: 'profile-pic-2') %><br>
						<%=p[1].name %>
					</li>
				</div>
			</ul>
			<% end %>
		</div>
	</div>
</main>
<script>
$(document).ready(function() {

	$('li').click(
		function(){
			$('.profile-info').animate({opacity:'toggle'}, 400);
	});
});

</script>

