<!DOCTYPE html>
<html>
<head>
  <title>NerdPong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="background">
<div class="bg">
<header role="banner">
	<div class="container">
		<nav role="navigation">
	
			<div class="hamburger">
				<div></div>
				<div></div>
				<div></div>
			</div>

			<nav class="mobile">
			  <button>Menu</button>
        <% if current_user %>
			  <div class="hamburger-menu">
			  	<%=link_to 'Home', root_path %>
			  	<%=link_to 'Bracket', brackets_path %>
			    <%=link_to 'Settings', edit_user_path(current_user.id) %>
			  </div>
        <% end %>
			</nav>
			<!-- <div><% if current_user %> Signed in as <%= current_user.name %><% end %></div> -->
			<div class="header-text">
				<span class="nerd">nerd</span><span class="pong">pong</span>
			</div>
		</nav>
	</div>
</header>
<%= yield %>
</div>
</body>
<script>
$('button').click(function() {
  $(this).toggleClass('expanded').siblings('div').slideToggle();
});
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

</html>
