<!DOCTYPE html>
<html>
<head>
  <title>NerdPong</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="background">
<div class="bg">
<header role="banner">
	<div class="container">
		<nav role="navigation">
	
			<div class="hamburger">
				<div></div>
				<div></div>
				<div></div>
			</div>

			<nav class="mobile">
			  <button>Menu</button>

			  <div class="hamburger-menu">
			  	<%=link_to 'Home', root_path %>
			  	<%=link_to 'Bracket', brackets_path %>
			  	<% if current_user %>
				    <%=link_to 'Settings', edit_user_path(current_user.id) %>
			    <% else %>
				    <%=link_to 'Log In with Twitter', '/auth/twitter' %>
			    <% end %>
			  </div>
			</nav>
		
			<div class="header-text">
				<span class="nerd">nerd</span><span class="pong">pong</span>
			</div>
		</nav>
	</div>
</header>
<%= yield %>
</div>
</body>
<script>
$('button').click(function() {
  $(this).toggleClass('expanded').siblings('div').slideToggle();
});
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

</html>
